{% extends 'base.html.twig' %}
{% block body %}
    <div class="infos">

    </div>
    <hr>
    <div class="electrcite">
        <h4>Périmètre éléctricité</h4>
        <table>
            <tr>
                <th></th>
            </tr>
        </table>
    </div>
    <hr>
    <div class="gazNat">

    </div>
{% endblock %}