<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>
        Bonjour chère client, après avoir enregistrer votre informations dans notre plateforme, voici votre information d'autentification
    </p>
    <table>
        <tr><td>Pseudo : </td><td>{{ username }}</td></tr>
        <tr><td>Password : </td>{{ password }}</tr>
    </table>
    <p>Merci !</p>
</body>
</html>