{% extends 'base.html.twig' %}
{% block body %}
<br><a class="btn btn-sm btn-primary" href="{{ path('newoffreElec') }}">Nouvelle Opportunité électricité</a><hr>
    <div class="list">
        <table class="table">
            <tr class="table-light">
                <th>Prix</th><th>Pirx</th><th>Prix</th><th>Prix</th>
            </tr>
        </table>
    </div>
{% endblock %}
