<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/imagesSites/icon.png" />
    <!-- Custom styles for this template -->
    <link href="/assets/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}Accessenergie{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
        <div class="container-fluid">
            {% block body %}

            {% endblock %}
        </div>
{% block javascripts %}
{% endblock %}
</body>

</html>
